<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Show details about author</title>
</head>

<body>

<div th:insert="/index.html" >...</div>
<table border="2" >
<tr bordercolor="black" align="justify" style="font-size: 40px">
<th> Name</th>
<th> Surname</th>
<th> Country</th>
<th> YOB</th>
<th> Id number</th>
<th> number of books</th>
</tr>
<tr  bgcolor="yellow" align="justify" style="font-size: 30px">

<td th:text= "${author.name}"></td>
<td th:text= "${author.surname}"></td>
<td th:text= "${author.country}"></td>
<td th:text="${author.yearOfBirth}"></td>
<td th:text="${author.author_id}"></td>
<td th:text="${author.books.size()}"></td>
</tr>
</table>

<table  border="2" >
<tr bordercolor="black" align="justify" style="font-size: 40px">
<th> Title</th>
<th> Quantity</th>
</tr>
<tr  th:block th:each="book : ${author.books}" bgcolor="yellow" align="justify" style="font-size: 30px">
			<td><a th:href="@{'/bookDetails/' + ${book.id_number}}" th:text="${book.title}"></a></td>			
			<td th:text="${book.quantity}">nie ma nic</td>
</tr>
</table>
<div th:if="${client.role.toString()=='ADMIN'}">
<h2> Czy chcesz zmienic jakies dane?</h2>

<form method="post">

<input type="text" name="name" >New name?<br>
<input type="text" name="surname" >New surname?<br>
<input type="text" name="country" >New country?<br>
<input type="number" name="yearOfBirth" min=0 max=2019 step=1 required="required" >New year of birth?<br>
<input type = "submit">
</form>
<br>
<h2> Czy dodać nową książkę tego autora?</h2>
<form action="/addNewExistingAuthor" method="post">
<input type="text" name="title">title?<br> 
			<input type="number" name="pages" required="required" min=0 step=1> pages?<br> 
			<input type="number" name="price" required="required" min=0 step=1>price?<br>
			 <input	type="number" name="quantity" min="0" step=1 required="required">quantity?<br> 
			 <input type="number" name="author_id" th:value="${author.author_id}" hidden="hidden"><br>
			 <input type="submit">
		</form>
</div>
</body>
</html>