<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Show basket content</title>
</head>

<body>

	<div th:insert="/index.html">...</div>
	<div >
		<table  th:if="${basket}" border="4p">
			<tr>
				<th>Title</th>
				<th>Author surname</th>
				<th>Price</th>
				<th>Quantity</th>
				<th>Price (price*quantity))</th>
				<th>New quantity</th>
			</tr>


			<tr bgcolor="lightblue" th:each="basketItem : ${basket.basketItems}">

				<td th:text="${basketItem.book.title}"></td>
				<td th:text="${basketItem.book.author.surname}"></td>
				<td th:text="${basketItem.book.price}"></td>
				<td th:text="${basketItem.quantity}"></td>
				<td th:text="${basketItem.price}"></td>

				<td>
					<form method="post" action="/changeItemQuantity">
						<input type="number" th:value="${basketItem.basketItem_id}"
							name="basketItem_id" hidden="hidden"> <input
							type="number" name="newQuantity"> <input type="submit">
					</form>
				</td>
			</tr>
			<tr>
				<th>Overall Price</th>
				<td th:text="${overallPrice}"></td>
			</tr>
		</table>
	</div>
	
	<div th:if="${basket}">
		<form action="/clearWholeBasket" method="get">
			<input type="submit" value="Remove everything from basket">
		</form>
	</div>

	<div th:if="${client}">
		<form action="/basketProceed" method="POST">
			<input type="submit" value="Proceed">
		</form>
	</div>

	<div th:unless="${client}">
		<a href="/login">You must log in</a>
	</div>

</body>
</html>