<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Client Info</title>
</head>

<body>

	<div th:insert="/index.html">...</div>
	<table>
		<tr>
			<th>client_id</th>
			<th>name</th>
			<th>surname</th>
			<th>email</th>
			<th>password</th>
			<th>role</th>
		</tr>
		<tr>
			<td th:text="${client.client_id}"></td>
			<td th:text="${client.name}"></td>
			<td th:text="${client.surname}"></td>
			<td th:text="${client.email}"></td>
			<td th:text="${client.password}"></td>
			<td th:text="${client.role}"></td>
		</tr>
		<tr>
		<th> City</th>
		<th> Street</th>
		<th> Post code</th>
		<th> Tel number</th>
		</tr>
		<tr th:if="${client.personalDetails!=null}">
		<td th:text="${client.personalDetails.city}">nie podano</td>
		<td th:text="${client.personalDetails.street}">nie podano</td>
		<td th:text="${client.personalDetails.postCode}">nie podano</td>
		<td th:text="${client.personalDetails.telNumber}">nie podano</td>
	</tr>
	</table>

	<form action="/editDetails" method="post" >
			<input type="text" name="city">Enter city name
			<br>
			<input type="text" name="street">Enter street name
			<br>
			<input type="text" name="postCode">Enter post code
			<br>
			<input type="text" name="telNumber">Enter tel number
			<br>
			<input type="number" th:value="${client.client_id}" name="clientId">
			<br>
			<input type="submit">

	</form>

</body>
</html>