<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Finding result</title>
</head>
<body>
	<div th:insert="/index.html">...</div>
	<table border="2px">
		<tr bordercolor="black" style="font-size: 40px" align="justify">
			<th>Name</th>
			<th>Surname</th>
			<th>Country</th>
			<th>Year of birth</th>
			<th>Author details</th>
		</tr>
		<th:block th:each="author : ${find}">
			<tr bgcolor="yellow" style="font-size: 30px" align="justify">

				<td th:text="${author.name}"></td>
				<td th:text="${author.surname}"></td>
				<td th:text="${author.country}"></td>
				<td th:text="${author.yearOfBirth}"></td>
				<td><a th:href="@{'/authorDetails/' + ${author.author_id}}">Details</a></td>
			</tr>

		</th:block>
	</table>


</body>
</html>