<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Ksiegarnia</title>
</head>
<body>
<div style="background-color: red">
	<marquee  behavior="scroll" direction="right" scrollamount="20" loop="inifinite" width="100%"><h1>Księgarnia</h1></marquee> 

<table>

<tr bgcolor="white">
<td><a href = "/addNew">DODAJ NOWĄ</a></td>
<td><a href = "/findBy">SZUKAJ </a></td>
<td><a href = "/showAll">SHOW ALL</a></td>
</tr>
<tr>
<td>
<br>
</td>
</tr>
<tr bgcolor="white">
<td><a href = "/basketContent">BASKET CONTENT</a></td>
<td><a href = "/orderHistory">ORDER HISTORY</a></td>
</tr>
<tr>
<td>
<br>
</td>
</tr>
<tr bgcolor="white">
<td><a href = "/registration" th:unless="${client}">REGISTRATION</a></td>
<td><a href = "/clientInfo">CLIENT INFO</a></td>
<td><a href = "/logout"  th:if="${client}">LOGOUT</a></td>
<td><a href = "/login"  th:unless="${client}">LOGIN</a></td>
</tr>
</table>	 
</div>
<h1 th:text="${message}"></h1>
<script type="text/javascript" src="js.js"></script>
</body>
</html>