<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Order history</title>
</head>

<body>
	<div th:insert="/index.html">...</div>
<div th:if="${orderHistory}">

	<h2>twoja historia zamówień</h2>
	<table border="2px">
		<tr bgcolor="lightyellow" th:each="basket : ${orderHistory}">
			<td th:text="${basket.basketItems}"></td>
		</tr>

	</table>
	</div>
	<div th:unless="${orderHistory}">
	<a href="/login">You must log in first</a>
	
	</div>
</body>

</html>