<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Registration page</title>
</head>

<body>

	<div th:insert="/index.html">...</div>
	<form action="/registration" method="post" th:object="${client}" >
	<table>
	<tr>
	<td><input type = "text" th:field="*{name}"></td><td> Name</td>
	</tr>
	<tr>
	<td><input type = "text" th:field="*{surname}"></td><td>Surname</td>
	</tr>
	<tr>
	<td><input type = "email" th:field="*{email}"></td><td>Email</td>
	</tr>
	<tr>
	<td><input type = "password" th:field="*{password}"></td><td>Password</td>
	<tr>
	<td><input type="submit" ></td>
	</tr>
	</table>
	</form>
	</body>
	</html>