<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Show all</title>
</head>

<body>

	<div th:insert="/index.html">...</div>


	<h1>SHOW ALL</h1>
	<table border="2">
		<tr style="font-size: 40px">
			<th>Name</th>
			<th>Surname</th>
			<th>Details</th>
			<th>Year of birth</th>
			<th>Country</th>
			<th>Books</th>
		</tr>

		<th:block th:each="author : ${allAuthors}">
			<tr bgcolor="yellow" style="font-size: 30px">
				<td th:text="${author.name}">nie ma nic</td>
				<td th:text="${author.surname}">nie ma nic</td>
				<td><a th:href="@{'/authorDetails/' + ${author.author_id}}">Details</a></td>

				<td th:text="${author.yearOfBirth}">nie ma nic</td>
				<td th:text="${author.country}">nie ma nic</td>
				<th:block th:each="book : ${author.books}">
					<td th:text="${book.title}">nie ma nic</td>
					<td><a th:href="@{'/bookDetails/' + ${book.id_number}}">Details</a></td>
				</th:block>
			</tr>
		</th:block>
	</table>


</body>
</html>